/*!
 * bootstrap-fileinput v5.1.6
 * http://plugins.krajee.com/file-input
 *
 * Krajee Explorer theme style for bootstrap-fileinput. Load this theme file after loading `fileinput.css`.
 *
 * Author: Kartik Visweswaran
 * Copyright: 2014 - 2021, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD-3-Clause
 * https://github.com/kartik-v/bootstrap-fileinput/blob/master/LICENSE.md
 */.theme-explorer .file-preview-frame{border:1px solid #ddd;margin:2px 0;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.theme-explorer .file-preview-frame samp{font-size:0.9rem}.theme-explorer .file-actions{text-align:center}.theme-explorer .file-upload-indicator,.theme-explorer .file-drag-handle{text-align:center;position:absolute;display:inline-block;bottom:8px;right:4px;width:16px;height:16px;font-size:16px}.theme-explorer .explorer-frame .kv-file-content{width:160px;height:80px;padding:5px;text-align:left}.theme-explorer .file-thumb-progress .progress{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;margin-top:5px}.theme-explorer .explorer-caption{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding:5px;color:#777}.theme-explorer .file-footer-buttons{padding:5px;text-align:right}.theme-explorer .kvsortable-ghost{opacity:0.6;background:#e1edf7;border:2px solid #a1abff}.theme-explorer .file-preview .table{margin:0}.theme-explorer .file-error-message ul{padding:5px 0 0 20px}.theme-explorer .file-details-cell{width:60%;font-size:0.95rem;text-align:left;margin-right:auto}.theme-explorer .file-actions-cell{position:relative;height:80px;width:200px}.explorer-frame .file-preview-other{text-align:center}.explorer-frame .file-preview-text{display:inline-block;color:#428bca;border:1px solid #ddd;font-family:Menlo,Monaco,Consolas,"Courier New",monospace;outline:none;padding:8px;resize:none}.explorer-frame .file-preview-html{display:inline-block;border:1px solid #ddd;padding:8px;overflow:auto}.explorer-frame .file-other-icon{font-size:2.6em}.explorer-frame:hover{background-color:#f5f5f5}.file-zoom-dialog .explorer-frame .file-other-icon{font-size:22em;font-size:50vmin}@media only screen and (max-width: 1249px){.theme-explorer .file-preview-frame .file-details-cell{width:40%}}@media only screen and (max-width: 1023px){.theme-explorer .file-preview-frame .file-details-cell{width:30%}}@media only screen and (max-width: 767px){.theme-explorer .file-preview-frame .file-details-cell{width:200px}}@media only screen and (max-width: 575px){.theme-explorer .file-preview-frame{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.theme-explorer .file-preview-frame .kv-file-content{width:auto;text-align:center}.theme-explorer .file-details-cell{width:100px;text-align:center;margin-right:0}.theme-explorer .file-actions-cell{width:100%;height:auto}.theme-explorer .file-footer-buttons{text-align:left}}
